div {
  &.pagination {
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding: 40px 0 0;

    @include r($breakpoint-1) {
      padding: 50px 0 0;
    }

    @include r($breakpoint-3) {
      padding: 25px 0 0;
      font-size: 20px;
    }

    ul {
      &.pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 0;
        padding: 0;

        li {
          &:not(:last-child) {
            margin-right: 15px;

            @include r($breakpoint-3) {
              margin-right: 8px;
            }

            @include r($breakpoint-4) {
              margin-right: 5px;
            }
          }

          &.page-item {
            color: $dark;
            width: 55px;
            height: 55px;
            padding: 4px;
            border: 1px solid $dark;

            @include r($breakpoint-3) {
              width: 35px;
              height: 35px;
              padding: 2.5px;
            }

            .page-link {
              color: $dark;
              width: 100%;
              height: 100%;
              @include flex-center;
            }

            &.active {
              .page-link {
                background-color: $dark;
                color: $white;
              }
            }
          }

          &:hover.page-link {
            color: $dark;
          }
        }
      }
    }
  }
}

.pagination-dots {
  margin-bottom: -4px;

  @include r($breakpoint-3) {
    margin-bottom: -2px;
  }
}