input,
textarea,
select {
  font-size: 16px;
  font-family: $font-inter-light;
  padding: 12px 25px;
  border-radius: 2px;
  border: none;
  @include ease-long;

  @include r($breakpoint-1) {
    font-size: 14px;
  }
}
option {
  color: $dark;
}
textarea {
  resize: none !important;
  overflow: hidden;
  &::placeholder {
    color: #9B9B9B;
  }
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #9B9B9B;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  color: $dark;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
