<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="order-1 col-sm-6 col-lg-3 col-xl-2">
                    <a href="#" class="footer-logo">
                        <svg width="250" height="51">
                            <use xlink:href="#logo-white"></use>
                        </svg>
                    </a>
                </div>
                <div class="order-2 order-sm-3 order-lg-2 col-sm-8 col-lg-3 col-xl-4 footer-nav__wrapper">
                    <div class="footer-nav">
                        <a href="#" class="footer-nav__link">Репертуар</a>
                        <a href="#" class="footer-nav__link">Труппа</a>
                        <a href="#" class="footer-nav__link">О театре</a>
                        <a href="#" class="footer-nav__link">Новости</a>
                        <a href="#" class="footer-nav__link">Контакты</a>
                    </div>
                </div>
                <div class="order-3 order-sm-2 order-lg-3 col-sm-6 col-lg-3 col-xl-4 offset-lg-1 offset-xl-0">
                    <div class="footer-info">
                        <div class="footer-info__item">
                            <div class="footer-info__item-header">
                                <svg width="20" height="20" stroke="white">
                                    <use xlink:href="#tel"></use>
                                </svg>
                                <a href="tel:88463333348" class="footer-info__item-title inter-h2-light">
                                    +7 (846) 333-33-48
                                </a>
                            </div>

                            <span class="inter-h3-light">Касса</span>
                        </div>
                        <div class="footer-info__item footer-info__item-address">
                            <div class="footer-info__item-header">
                                <svg width="20" height="29" stroke="white">
                                    <use xlink:href="#geo"></use>
                                </svg>
                                <div class="footer-info__item-title inter-h2-light">
                                    г. Самара, пл. Чапаева, д. 1.
                                </div>
                            </div>

                            <span class="inter-h3-light">Касса работает ежедневно с 12.00 до 19:00, перерыв с 14 до 15 часов</span>
                        </div>
                    </div>
                </div>
                <div class="order-4 col-sm-8 col-lg-2 col-xl-2">
                    <div class="footer-payments">
                        <a class="button button-secondary" href="#">Купить билеты</a>
                        <div class="footer-payments__list">
                            <svg width="61" height="16">
                                <use xlink:href="#mir"></use>
                            </svg>
                            <svg width="50" height="16">
                                <use xlink:href="#visa"></use>
                            </svg>
                            <svg width="36" height="23">
                                <use xlink:href="#mastercard"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <a href="#" class="culture-logo">
                <img src="{{root}}assets/img/mc-logo.png" alt="Министерство Культуры">
            </a>
            <div class="footer-copy">
                <span class="inter-h3-light">Разработка сайта</span>
                <a href="https://akticom.ru/" target="_blank">
                    <svg width="122" height="26">
                        <use xlink:href="#akticom"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>